
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapseable" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-collapseable">
    <ul class="nav navbar-nav">
      {% for link in linklists.main-menu.links %}   
          <li>
            <a href="{{ link.url }}" {% if link.active %} class="active"{% endif %}>
              {{ link.title }} <span class="navlink-spinner">+</span>
            </a>
          </li>
      {% endfor %}
    </ul>
  </div>
