@font-face {
	font-family: avenir-next-bold;
    src: url(AvenirNextLTPro-Bold.woff);
}
body {
  margin: 0;
  background: #000; 
}
#vid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
	transition: 1s opacity;
}

#text {
	position:relative;
	font-size:20px;
	color: white;
	font-family:avenir-next-bold;
}